version: '3'

services:

    nginx:
      build: requirements/nginx
      image: inception/nginx
      container_name: nginx
      restart: always
      ports:
          - "443:443"
          - "80:80"
          - "8080:8080"
      depends_on:
          - wordpress
          - phpmyadmin
      networks:
        - inception
      volumes:
        - ${DATA_PATH}/wordpress:/var/www/wordpress

    wordpress:
      env_file: .env
      build: requirements/wordpress
      image: inception/wordpress
      container_name: wordpress
      restart: always
      depends_on:
        - mariadb
      networks:
        - inception
      volumes:
        - ${DATA_PATH}/wordpress:/var/www/wordpress

    mariadb:
      build: requirements/mariadb
      image: inception/mariadb
      container_name: mariadb
      restart: always
      env_file: .env
      networks:
        - inception
      volumes:
        - ${DATA_PATH}/mariadb:/var/lib/mysql

      
    phpmyadmin:
      image: phpmyadmin/phpmyadmin
      depends_on:
        - mariadb
      container_name: phpmyadmin
      restart: always
      environment:
        PMA_HOST: mariadb
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      networks:
        - inception

networks:
  inception:
    driver: bridge



